@charset "UTF-8";
@keyframes album_img {
	0% {
		opacity: 0;
	}

	12.5% {
		opacity: 1;
	}

	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
main{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
#img_wrap{
  width: 100vw;
  height: 100vh;
}
.left_img_wrap{
  position: relative;
  left: 0;
}
.left_img_wrap img{
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;;
  top: 0;
  left: 0;
}
.right_img_wrap{
  position: relative;
  right: 0;
}
.right_img_wrap img{
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;;
  top: 0;
  right: 0;
}
.main_img1{
  animation-name: album_img;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	opacity: 0;
}
.main_img2{
  animation-name: album_img;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	opacity: 0;
  animation-delay:5s;
}


.index_title{

}
.index_title h1{
  text-align: center;
  position: fixed;
  z-index: 60;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
  font-size: 2.5vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  white-space: nowrap;
}
.index_title h1:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #ffffff;
  background: #0000000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  white-space: nowrap;
}
.index_title h1:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #ffffff;
  background: #000000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.sm_img_wrap{
  display: none;
}
@media screen and (max-width: 420px){
  .left_img_wrap,.right_img_wrap{
    display: none;
  }
  .sm_img_wrap{
    display: block;
  }
  .sm_img_wrap img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
  }
  .sm_img1{
    animation-name: album_img;
  	animation-duration: 10s;
  	animation-iteration-count: infinite;
  	opacity: 0;
  }
  .sm_img2{
    animation-name: album_img;
  	animation-duration: 10s;
  	animation-iteration-count: infinite;
  	opacity: 0;
    animation-delay:5s;
  }
  .index_title h1{
    text-align: center;
    position: fixed;
    z-index: 60;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 3vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    white-space: nowrap;
  }
  .index_title h1:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: #ffffff;
    background: #0000000;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
    white-space: nowrap;
  }
  .index_title h1:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: #ffffff;
    background: #000000;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
}
